<a href="https://colab.research.google.com/github/iramvai007/ApachePySparkInBigData/blob/main/CSE488__All_About_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSE488 
## Spark Tutorial in pySpark

In this tutorial you will learn how to use [Apache Spark](https://spark.apache.org) in local mode on a Colab enviroment.

Credits to [Tiziano Piccardi](http://piccardi.me/) for his Spark Tutorial used in the Applied Data Analysis class at EPFL.

### Setup

Let's setup Spark on your Colab environment.  Run the cell below!

In [ ]:
!apt-get update

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
!pip install graphframes

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)
openjdk-8-jdk-headless is already the newest version (8u312-b07-0ubuntu1~18.04).
0 upgraded, 0 newly installed, 0 to remove and 85 not upgraded.
Requirement already satisfied: graphframes in /usr/local/lib/python3.7/dist-packages (0.6)
Requirement already satisfied: nose in /usr/local/lib/python3.7/dist-packages (from graphframes) (1.3.7)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from graphframes) (1.19.5)

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["PYSPARK_SUBMIT_ARGS"] = "--packages graphframes:graphframes:0.8.1-spark3.0-s_2.12 pyspark-shell"

Now we authenticate a Google Drive client to download the file we will be processing in our Spark job.

**Make sure to follow the interactive instructions.**

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
id='1L6pCQkldvdBoaEhRFzL0VnrggEFvqON4'
downloaded = drive.CreateFile({'id': id}) 
downloaded.GetContentFile('Bombing_Operations.json.gz')

id='14dyBmcTBA32uXPxDbqr0bFDIzGxMTWwl'
downloaded = drive.CreateFile({'id': id}) 
downloaded.GetContentFile('Aircraft_Glossary.json.gz')

If you executed the cells above, you should be able to see the files *Bombing_Operations.json.gz* and *Aircraft_Glossary.json.gz* under the "Files" tab on the left panel.

In [ ]:
# Let's import the libraries we will need
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf

Let's initialize the Spark context.

In [ ]:
# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

NameError: ignored

You can easily check the current version and get the link of the web interface. In the Spark UI, you can monitor the progress of your job and debug the performance bottlenecks (if your Colab is running with a **local runtime**).

In [ ]:
spark

If you are running this Colab on the Google hosted runtime, the cell below will create a *ngrok* tunnel which will allow you to still check the Spark UI.

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

--2021-12-26 11:12:40--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 52.202.168.65, 54.237.133.81, 18.205.222.128, ...
Connecting to bin.equinox.io (bin.equinox.io)|52.202.168.65|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.19M  8.45MB/s    in 1.6s

2021-12-26 11:12:41 (8.45 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13832437/13832437]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok
Traceback (most recent call last):
  File "<string>", line 1, in <module>
IndexError: list index out of range

# Vietnam War

**Pres. Johnson**: _What do you think about this Vietnam thing? I’d like to hear you talk a little bit._

**Sen. Russell**: _Well, frankly, Mr. President, it’s the damn worse mess that I ever saw, and I don’t like to brag and I never have been right many times in my life, but I knew that we were going to get into this sort of mess when we went in there._

May 27, 1964

![banner](https://raw.githubusercontent.com/epfl-ada/2019/c17af0d3c73f11cb083717b7408fedd86245dc4d/Tutorials/04%20-%20Scaling%20Up/img/banner.jpg)

----

The Vietnam War, also known as the Second Indochina War, and in Vietnam as the Resistance War Against America or simply the American War, was a conflict that occurred in Vietnam, Laos, and Cambodia from 1 November 1955 to the fall of Saigon on 30 April 1975. It was the second of the Indochina Wars and was officially fought between North Vietnam and the government of South Vietnam.

**The dataset describes all the air force operation in during the Vietnam War.**

**Bombing_Operations** [Get the dataset here](https://drive.google.com/a/epfl.ch/file/d/1L6pCQkldvdBoaEhRFzL0VnrggEFvqON4/view?usp=sharing)

- AirCraft: _Aircraft model (example: EC-47)_
- ContryFlyingMission: _Country_
- MissionDate: _Date of the mission_
- OperationSupported: _Supported War operation_ (example: [Operation Rolling Thunder](https://en.wikipedia.org/wiki/Operation_Rolling_Thunder))
- PeriodOfDay: _Day or night_
- TakeoffLocation: _Take off airport_
- TimeOnTarget
- WeaponType
- WeaponsLoadedWeight

**Aircraft_Glossary** [Get the dataset here](https://drive.google.com/a/epfl.ch/file/d/14dyBmcTBA32uXPxDbqr0bFDIzGxMTWwl/view?usp=sharing)

- AirCraft: _Aircraft model (example: EC-47)_
- AirCraftName
- AirCraftType

**Dataset Information:**

THOR is a painstakingly cultivated database of historic aerial bombings from World War I through Vietnam. THOR has already proven useful in finding unexploded ordnance in Southeast Asia and improving Air Force combat tactics:
https://www.kaggle.com/usaf/vietnam-war-bombing-operations

Load the datasets:

In [ ]:
Bombing_Operations = spark.read.json("Bombing_Operations.json.gz")
Aircraft_Glossary = spark.read.json("Aircraft_Glossary.json.gz")

In [ ]:
Bombing_Operations.printSchema()

root
 |-- AirCraft: string (nullable = true)
 |-- ContryFlyingMission: string (nullable = true)
 |-- MissionDate: string (nullable = true)
 |-- OperationSupported: string (nullable = true)
 |-- PeriodOfDay: string (nullable = true)
 |-- TakeoffLocation: string (nullable = true)
 |-- TargetCountry: string (nullable = true)
 |-- TimeOnTarget: double (nullable = true)
 |-- WeaponType: string (nullable = true)
 |-- WeaponsLoadedWeight: long (nullable = true)

In [ ]:
Aircraft_Glossary.printSchema()

root
 |-- AirCraft: string (nullable = true)
 |-- AirCraftName: string (nullable = true)
 |-- AirCraftType: string (nullable = true)

In [ ]:
Bombing_Operations.show()

+--------+--------------------+-----------+------------------+-----------+---------------+-------------+------------+--------------------+-------------------+
|AirCraft| ContryFlyingMission|MissionDate|OperationSupported|PeriodOfDay|TakeoffLocation|TargetCountry|TimeOnTarget|          WeaponType|WeaponsLoadedWeight|
+--------+--------------------+-----------+------------------+-----------+---------------+-------------+------------+--------------------+-------------------+
|   EC-47|UNITED STATES OF ...| 1971-06-05|              null|          D|   TAN SON NHUT|     CAMBODIA|      1005.0|                null|                  0|
|   EC-47|UNITED STATES OF ...| 1972-12-26|              null|          D|  NAKHON PHANOM|SOUTH VIETNAM|       530.0|                null|                  0|
|    RF-4|UNITED STATES OF ...| 1973-07-28|              null|          D|       UDORN AB|         LAOS|       730.0|                null|                  0|
|     A-1|UNITED STATES OF ...| 1970-02-02|              null|          N|  NAKHON PHANOM|         LAOS|      1415.0|BLU27 FIRE BOMB (...|              17400|
|    A-37|     VIETNAM (SOUTH)| 1970-10-08|              null|          D|         DANANG|SOUTH VIETNAM|      1240.0|                null|                  0|
|     F-4|UNITED STATES OF ...| 1970-11-25|              null|          D|        UBON AB|         LAOS|       650.0|MK 82 GP BOMB (50...|              31860|
|     A-4|UNITED STATES OF ...| 1972-03-08|              null|          D|    TONKIN GULF|         LAOS|      1005.0|                null|                  0|
|     F-4|UNITED STATES OF ...| 1971-12-27|              null|       null|       UDORN AB|         LAOS|         0.0|                null|                  0|
|     A-7|UNITED STATES OF ...| 1972-05-24|              null|       null|    TONKIN GULF|NORTH VIETNAM|         0.0|                null|                  0|
|   EC-47|UNITED STATES OF ...| 1972-09-12|              null|          D|   TAN SON NHUT|SOUTH VIETNAM|       710.0|                null|                  0|
|   CH-53|UNITED STATES OF ...| 1974-06-13|              null|          N|  NAKHON PHANOM|     THAILAND|      1800.0|                null|                  0|
|   CH-53|UNITED STATES OF ...| 1974-12-19|              null|          D|  NAKHON PHANOM|     THAILAND|       800.0|                null|                  0|
|     O-1|     VIETNAM (SOUTH)| 1973-10-24|              null|          D|      NHA TRANG|SOUTH VIETNAM|       800.0|                null|                  0|
|    UH-1|     VIETNAM (SOUTH)| 1974-03-19|              null|          D|        PHU CAT|SOUTH VIETNAM|       800.0|        CARGO (TONS)|                  0|
|     C-7|UNITED STATES OF ...| 1970-05-08|              null|          D|   TAN SON NHUT|SOUTH VIETNAM|       800.0|                null|                  0|
|     A-6|UNITED STATES OF ...| 1971-05-12|              null|          N|    TONKIN GULF|         LAOS|      1304.0|CBU24 AN PR/MT (B...|              33200|
|   EB-66|UNITED STATES OF ...| 1971-12-03|              null|          N|          KORAT|         LAOS|      1445.0|                null|                  0|
|    T-28|                LAOS| 1971-12-19|              null|          D|     SAVANAKHET|         LAOS|       230.0|                null|                  0|
|     A-6|UNITED STATES OF ...| 1972-08-18|              null|       null|    TONKIN GULF|NORTH VIETNAM|         0.0|                null|                  0|
|     A-7|UNITED STATES OF ...| 1972-10-15|              null|          D|    TONKIN GULF|NORTH VIETNAM|       110.0|                null|                  0|
+--------+--------------------+-----------+------------------+-----------+---------------+-------------+------------+--------------------+-------------------+
only showing top 20 rows

In [ ]:
Aircraft_Glossary.show()

+--------+--------------------+--------------------+
|AirCraft|        AirCraftName|        AirCraftType|
+--------+--------------------+--------------------+
|     A-1|Douglas A-1 Skyra...|         Fighter Jet|
|    A-26|Douglas A-26 Invader|        Light Bomber|
|    A-37|Cessna A-37 Drago...|Light ground-atta...|
|     A-4|McDonnell Douglas...|         Fighter Jet|
|     A-5|North American A-...|          Bomber Jet|
|     A-6|Grumman A-6 Intruder|     Attack Aircraft|
|     A-7|  LTV A-7 Corsair II|     Attack Aircraft|
|  AC-119|Fairchild AC-119 ...|Military Transpor...|
|  AC-123|Fairchild C-123 P...|Military Transpor...|
|  AC-130|Lockheed AC-130 S...|Fixed wing ground...|
|   AC-47|Douglas AC-47 Spooky|Ground attack air...|
|    AH-1| Bell AH-1 HueyCobra|          Helicopter|
|     B-1| Rockwell B-1 Lancer|Heavy strategic b...|
|    B-52| B-52 Stratofortress|    Strategic bomber|
|    B-57|Martin B-57 Canberra|     Tactical Bomber|
|    B-66|Douglas B-66 Dest...|        Light Bomber|
|     C-1| Grumman C-1A Trader|           Transport|
|   C-117|     C-117D Skytrain|           Transport|
|   C-119|Fairchild C-119 F...|Military Transpor...|
|   C-123|Fairchild C-123 P...|Military Transpor...|
+--------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
Aircraft_Glossary.take(5)

[Row(AirCraft='A-1', AirCraftName='Douglas A-1 Skyraider', AirCraftType='Fighter Jet'),
 Row(AirCraft='A-26', AirCraftName='Douglas A-26 Invader', AirCraftType='Light Bomber'),
 Row(AirCraft='A-37', AirCraftName='Cessna A-37 Dragonfly', AirCraftType='Light ground-attack aircraft'),
 Row(AirCraft='A-4', AirCraftName='McDonnell Douglas A-4 Skyhawk', AirCraftType='Fighter Jet'),
 Row(AirCraft='A-5', AirCraftName='North American A-5 Vigilante', AirCraftType='Bomber Jet')]

##projecting colums

In [ ]:
Aircraft_Glossary.select("AirCraft", "AirCraftName").show()

+--------+--------------------+
|AirCraft|        AirCraftName|
+--------+--------------------+
|     A-1|Douglas A-1 Skyra...|
|    A-26|Douglas A-26 Invader|
|    A-37|Cessna A-37 Drago...|
|     A-4|McDonnell Douglas...|
|     A-5|North American A-...|
|     A-6|Grumman A-6 Intruder|
|     A-7|  LTV A-7 Corsair II|
|  AC-119|Fairchild AC-119 ...|
|  AC-123|Fairchild C-123 P...|
|  AC-130|Lockheed AC-130 S...|
|   AC-47|Douglas AC-47 Spooky|
|    AH-1| Bell AH-1 HueyCobra|
|     B-1| Rockwell B-1 Lancer|
|    B-52| B-52 Stratofortress|
|    B-57|Martin B-57 Canberra|
|    B-66|Douglas B-66 Dest...|
|     C-1| Grumman C-1A Trader|
|   C-117|     C-117D Skytrain|
|   C-119|Fairchild C-119 F...|
|   C-123|Fairchild C-123 P...|
+--------+--------------------+
only showing top 20 rows

##selecting tuples

In [ ]:
Aircraft_Glossary.where(Aircraft_Glossary.AirCraft=='A-1').show() #it shows the result in another format or it's a formatted output

+--------+--------------------+------------+
|AirCraft|        AirCraftName|AirCraftType|
+--------+--------------------+------------+
|     A-1|Douglas A-1 Skyra...| Fighter Jet|
+--------+--------------------+------------+

In [ ]:
Aircraft_Glossary.where("AirCraft=='A-1'").collect() #it shows in raw format

[Row(AirCraft='A-1', AirCraftName='Douglas A-1 Skyraider', AirCraftType='Fighter Jet')]

##counting the number of rows

In [ ]:
Bombing_Operations.count()

4400775

In [ ]:
x=Aircraft_Glossary.count()

In [ ]:
print("there are %d",x, "rows")

there are %d 104 rows

##Writing the Queries

**1.Find the aircraft model and the mission date for the operations place over LAOS (target country)**

**2.Find the Aircraft model, the mission date and take off location for the operation took place over LAOS and the duration was more than 1000**

In [ ]:
##sol 1
df_q1= Bombing_Operations.where("TargetCountry = 'LAOS'").select("AirCraft", "MissionDate")

In [ ]:
df_q1.show()

NameError: ignored

In [ ]:
df_q1.count()

In [ ]:
#sol 2
df_q2= Bombing_Operations.where("TargetCountry = 'LAOS' AND TimeOnTarget> 1000 ").select("AirCraft", "MissionDate", "TakeoffLocation")

In [ ]:
df_q2.show()

In [ ]:
df_q2.count()

##Aggeregates

**Number of missios for each counrty operationg the missions (CountryFlyingMissions)**

In [ ]:
Bombing_Operations.groupBy("ContryFlyingMission").agg(count("*")).show()

In [ ]:
df_q3=Bombing_Operations.groupBy("ContryFlyingMission").agg(count("*").alias("Number of missions"))

In [ ]:
df_q3.show()

In [ ]:
df_q3.sort("Number of missions").show()

In [ ]:
df_q3.sort(desc("Number of missions")).show()

**Find the number of Operations for each Aircraft Type**

In [ ]:
join_results= Bombing_Operations.join(Aircraft_Glossary, Bombing_Operations.AirCraft == Aircraft_Glossary.AirCraft)

In [ ]:
Bombing_Operations.show()

In [ ]:
missionsPerAircraftType=join_results.groupBy("AirCraftType").agg(count("*").alias("NumOperations")).sort("AirCraftType")
%time missionsPerAircraftType.show()

**Caching the result**

In [ ]:
missionsPerAircraftType.cache()

In [ ]:
missionsPerAircraftType.show()

Saving the result into a file

In [ ]:
%time missionsPerAircraftType.write.mode('overwrite').json("missionsPerAirCraftType.json")

In [ ]:
print(missionsPerAircraftType.count())

##Creating RDDs from Differenrt Types of Data

In [ ]:
data = [("Alice", 29, 14500), ("BOB", 22, 12000),("Charlie", 35, 45000)]
colums = ["Name", "Age", "Salary"]

In [ ]:
rdd1 = sc.parallelize(data)

In [ ]:
print(rdd1.collect())

##RDD to DataFrame Conversion

In [ ]:
dfFromRDD1 = rdd1.toDF(colums)

In [ ]:
dfFromRDD1.printSchema()
dfFromRDD1.show()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Salary: long (nullable = true)

+-------+---+------+
|   Name|Age|Salary|
+-------+---+------+
|  Alice| 29| 14500|
|    BOB| 22| 12000|
|Charlie| 35| 45000|
+-------+---+------+

In [ ]:
lines = sc.textFile("people.txt")
print(type(lines))
print(lines.collect())

<class 'pyspark.rdd.RDD'>
['Alice,45,4500', 'Bob,59,130000', 'Dooffy,45,50000']

In [ ]:
rows= lines.map(lambda value: value.split(","))
print(type(rows))
print(rows.collect())

<class 'pyspark.rdd.PipelinedRDD'>
[['Alice', '45', '4500'], ['Bob', '59', '130000'], ['Dooffy', '45', '50000']]

In [ ]:
peopleRDD = rows.map(lambda value: Row(name = value[0], age = value[1], salary = float(value[2])))
print(type(peopleRDD))
print(peopleRDD.collect())

<class 'pyspark.rdd.PipelinedRDD'>
[Row(name='Alice', age='45', salary=4500.0), Row(name='Bob', age='59', salary=130000.0), Row(name='Dooffy', age='45', salary=50000.0)]

In [ ]:
dfFromPeople = peopleRDD.toDF()
dfFromPeople.show()

+------+---+--------+
|  name|age|  salary|
+------+---+--------+
| Alice| 45|  4500.0|
|   Bob| 59|130000.0|
|Dooffy| 45| 50000.0|
+------+---+--------+

##Dataframe from CSV file

In [ ]:
dfFromCSV = spark.read.options(header = "True", inferSchema = "True" ).csv("people.csv")

In [ ]:
dfFromCSV.show()

+-------+----+
|   Name| Age|
+-------+----+
|Michael|29.0|
|   Andy|30.0|
| Justin|19.0|
+-------+----+

In [ ]:
list1 = [i for i in range(11)]
print(list1)

In [ ]:
list1RDD = sc.parallelize(list1)
print(list1RDD.collect())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
intermediate1 = list1RDD.map(lambda value: (value))
print(intermediate1.collect())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# from operator import add
final = intermediate1.reduce(lambda x,y: (x+y))
print(final)

55

In [ ]:
from operator import add
final1 = intermediate1.reduce(add)
print(final1)

##it has to be a single indivisual value not a tupel (x,y)

55

##Word Count Problem using Spark

In [ ]:
list2 = ['Apple', 'Apple', 'Cat', 'Dog', 'Bat','Apple']
rdd_list2 = sc.parallelize(list2)

In [ ]:
rdd_map_list2 = rdd_list2.map(lambda w: (w, 1))
print(rdd_map_list2.collect())

[('Apple', 1), ('Apple', 1), ('Cat', 1), ('Dog', 1), ('Bat', 1), ('Apple', 1)]

In [ ]:
rdd_reduce_list2 = rdd_map_list2.reduceByKey(lambda x,y : x+y)
print(rdd_reduce_list2.collect())

[('Bat', 1), ('Apple', 3), ('Cat', 1), ('Dog', 1)]

In [ ]:
rdd_reduce_list2 = rdd_map_list2.reduceByKey(lambda x,y : x+y).sortBy(lambda r: r[0])
print(rdd_reduce_list2.collect())

[('Apple', 3), ('Bat', 1), ('Cat', 1), ('Dog', 1)]

##WordCount from the txt file

In [ ]:
words = sc.textFile("WordCount.txt")
print(type(words))
print(words.collect())

<class 'pyspark.rdd.RDD'>
['From fairest creatures we desire increase,', "That thereby beauty's rose might never die,", 'But as the riper should by time decease,', 'His tender heir might bear his memory:', 'But thou contracted to thine own bright eyes,', "Feed'st thy light's flame with self-substantial fuel,", 'Making a famine where abundance lies,', 'Thy self thy foe, to thy sweet self too cruel:', "Thou that art now the world's fresh ornament,", 'And only herald to the gaudy spring,', 'Within thine own bud buriest thy content,', "And tender churl mak'st waste in niggarding:", 'Pity the world, or else this glutton be,', "To eat the world's due, by the grave and thee."]

In [ ]:
row= words.map(lambda value: value.split(" "))
print(type(row))
print(row.collect())

<class 'pyspark.rdd.PipelinedRDD'>
[['From', 'fairest', 'creatures', 'we', 'desire', 'increase,'], ['That', 'thereby', "beauty's", 'rose', 'might', 'never', 'die,'], ['But', 'as', 'the', 'riper', 'should', 'by', 'time', 'decease,'], ['His', 'tender', 'heir', 'might', 'bear', 'his', 'memory:'], ['But', 'thou', 'contracted', 'to', 'thine', 'own', 'bright', 'eyes,'], ["Feed'st", 'thy', "light's", 'flame', 'with', 'self-substantial', 'fuel,'], ['Making', 'a', 'famine', 'where', 'abundance', 'lies,'], ['Thy', 'self', 'thy', 'foe,', 'to', 'thy', 'sweet', 'self', 'too', 'cruel:'], ['Thou', 'that', 'art', 'now', 'the', "world's", 'fresh', 'ornament,'], ['And', 'only', 'herald', 'to', 'the', 'gaudy', 'spring,'], ['Within', 'thine', 'own', 'bud', 'buriest', 'thy', 'content,'], ['And', 'tender', 'churl', "mak'st", 'waste', 'in', 'niggarding:'], ['Pity', 'the', 'world,', 'or', 'else', 'this', 'glutton', 'be,'], ['To', 'eat', 'the', "world's", 'due,', 'by', 'the', 'grave', 'and', 'thee.']]

In [ ]:
rdd_word = sc.parallelize(row)
rdd_map_word = rdd_word.map(lambda w: (w, 1))
print(rdd_map_word.collect())

TypeError: ignored

**Using Flat Map**

## Spark and ML

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel("transactions.xlsx")

In [ ]:
data.head()

   SalesDate  SalesValue  SalesAmount  Customer  SalesTransactionID  SalesItem
0 2018-09-28      8280.0           10         0                   0          0
1 2018-09-28      7452.0           10         0                   0          0
2 2019-04-23     21114.0           30         0                   1          0
3 2019-04-23      7038.0           10         0                   1          1
4 2019-04-23      7000.0            2         0                   1          2

In [ ]:
sparkdata = spark.createDataFrame(data)

In [ ]:
sparkdata.show()

+-------------------+----------+-----------+--------+------------------+---------+
|          SalesDate|SalesValue|SalesAmount|Customer|SalesTransactionID|SalesItem|
+-------------------+----------+-----------+--------+------------------+---------+
|2018-09-28 00:00:00|    8280.0|         10|       0|                 0|        0|
|2018-09-28 00:00:00|    7452.0|         10|       0|                 0|        0|
|2019-04-23 00:00:00|   21114.0|         30|       0|                 1|        0|
|2019-04-23 00:00:00|    7038.0|         10|       0|                 1|        1|
|2019-04-23 00:00:00|    7000.0|          2|       0|                 1|        2|
|2019-02-08 00:00:00|     745.2|          1|       0|                 2|        1|
|2019-02-08 00:00:00|    6334.2|          9|       0|                 2|        1|
|2019-02-22 00:00:00|   14076.0|         20|       0|                 3|        0|
|2018-12-11 00:00:00|    7452.0|         10|       0|                 4|        0|
|2018-11-21 00:00:00|    6706.8|          9|       0|                 5|        0|
|2018-09-21 00:00:00|    7000.0|          2|       0|                 6|        2|
|2018-08-09 00:00:00|    3500.0|          1|       0|                 7|        2|
|2019-03-08 00:00:00|   14076.0|         20|       0|                 8|        0|
|2019-10-25 00:00:00|   13972.5|         25|       0|                10|        0|
|2019-10-25 00:00:00|    2794.5|          5|       0|                10|        1|
|2019-06-12 00:00:00|   11178.0|         20|       0|                11|        0|
|2018-07-20 00:00:00|   10000.0|          1|       1|                12|        3|
|2018-07-20 00:00:00|     500.0|          1|       1|                12|        4|
|2019-05-14 00:00:00|    6000.0|          2|       1|                13|        5|
|2017-07-11 00:00:00|    191.34|          1|       3|                15|        7|
+-------------------+----------+-----------+--------+------------------+---------+
only showing top 20 rows

##droping the duplicates

In [ ]:
basketdata = sparkdata.dropDuplicates(['SalesTransactionID', 'SalesItem']).sort('SalesTransactionID')

In [ ]:
basketdata.show()

+-------------------+----------+-----------+--------+------------------+---------+
|          SalesDate|SalesValue|SalesAmount|Customer|SalesTransactionID|SalesItem|
+-------------------+----------+-----------+--------+------------------+---------+
|2018-09-28 00:00:00|    8280.0|         10|       0|                 0|        0|
|2019-04-23 00:00:00|   21114.0|         30|       0|                 1|        0|
|2019-04-23 00:00:00|    7038.0|         10|       0|                 1|        1|
|2019-04-23 00:00:00|    7000.0|          2|       0|                 1|        2|
|2019-02-08 00:00:00|     745.2|          1|       0|                 2|        1|
|2019-02-22 00:00:00|   14076.0|         20|       0|                 3|        0|
|2018-12-11 00:00:00|    7452.0|         10|       0|                 4|        0|
|2018-11-21 00:00:00|    6706.8|          9|       0|                 5|        0|
|2018-09-21 00:00:00|    7000.0|          2|       0|                 6|        2|
|2018-08-09 00:00:00|    3500.0|          1|       0|                 7|        2|
|2019-03-08 00:00:00|   14076.0|         20|       0|                 8|        0|
|2019-10-25 00:00:00|   13972.5|         25|       0|                10|        0|
|2019-10-25 00:00:00|    2794.5|          5|       0|                10|        1|
|2019-06-12 00:00:00|   11178.0|         20|       0|                11|        0|
|2018-07-20 00:00:00|     500.0|          1|       1|                12|        4|
|2018-07-20 00:00:00|   10000.0|          1|       1|                12|        3|
|2019-05-14 00:00:00|    6000.0|          2|       1|                13|        5|
|2017-07-11 00:00:00|    103.79|          1|       3|                15|        9|
|2017-07-11 00:00:00|     731.0|          1|       3|                15|        8|
|2017-07-11 00:00:00|    191.34|          1|       3|                15|        7|
+-------------------+----------+-----------+--------+------------------+---------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F

In [ ]:
basketdata = basketdata.groupBy("SalesTransactionID").agg(F.collect_list("SalesItem").alias("items")).sort("SalesTransactionID")

In [ ]:
basketdata.show()

+------------------+--------------------+
|SalesTransactionID|               items|
+------------------+--------------------+
|                 0|                 [0]|
|                 1|           [0, 1, 2]|
|                 2|                 [1]|
|                 3|                 [0]|
|                 4|                 [0]|
|                 5|                 [0]|
|                 6|                 [2]|
|                 7|                 [2]|
|                 8|                 [0]|
|                10|              [1, 0]|
|                11|                 [0]|
|                12|              [4, 3]|
|                13|                 [5]|
|                15|           [7, 8, 9]|
|                16|[17, 15, 16, 20, ...|
|                17|                [21]|
|                18|                [22]|
|                19|[33, 41, 27, 34, ...|
|                20|[59, 50, 57, 60, ...|
|                21|                [62]|
+------------------+--------------------+
only showing top 20 rows

##Finding Frequent Itemsets

**FP Growth Approch**

In [ ]:
from pyspark.ml.fpm import FPGrowth

In [ ]:
fpGrowth = FPGrowth(itemsCol="items", minSupport=0.01, minConfidence=0.01)
model = fpGrowth.fit(basketdata)

In [ ]:
model.freqItemsets.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+----------+----+
|     items|freq|
+----------+----+
|     [315]| 553|
|     [137]| 730|
|     [363]| 512|
|     [159]| 671|
|     [131]| 599|
|     [135]| 690|
|     [302]| 622|
|     [152]| 761|
|     [146]| 524|
|     [128]| 929|
|     [226]| 842|
|     [312]|1063|
|[312, 108]| 610|
|[312, 103]| 572|
|      [72]| 567|
|     [102]| 874|
|     [222]| 585|
|      [68]| 968|
|     [108]|1655|
|[108, 110]| 510|
+----------+----+
only showing top 20 rows

**Association Rules**

In [ ]:
model.associationRules.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+----------+----------+-------------------+------------------+--------------------+
|antecedent|consequent|         confidence|              lift|             support|
+----------+----------+-------------------+------------------+--------------------+
|      [64]|      [63]| 0.6592082616179001|24.110890692680083| 0.01581794903564201|
|      [64]|      [20]| 0.4208261617900172| 7.183266729236296|0.010097881303432041|
|      [64]|     [316]|0.43459552495697074|21.109050041691336|0.010428282327675216|
| [67, 103]|     [104]| 0.6595208070617906|13.213882748355099|0.010799983479948788|
|[108, 104]|     [103]|  0.740029542097489|16.880202828833255|0.010345682071614423|
| [92, 103]|      [91]| 0.7162162162162162|22.318845872899928|0.010944533928055177|
| [92, 104]|      [91]| 0.7405159332321699|23.076077595045728|0.010077231239416843|
| [104, 20]|      [67]| 0.5626911314984709|13.796901637440483|0.011398835336389542|
| [104, 20]|     [103]|  0.583078491335372|13.300122007257055|0.011811836616693511|
|     [185]|     [101]| 0.4446444644464446|15.797764369246902|0.010201131623508032|
|      [98]|     [312]| 0.7427027027027027| 33.83454476112989|0.014186593978441334|
|      [98]|     [108]| 0.5794594594594594|16.955228872376907|0.011068434312146368|
|      [98]|     [103]| 0.5286486486486487| 12.05856780944864|0.010097881303432041|
|     [316]|      [63]| 0.5536609829488466|20.250443172417555|0.011398835336389542|
|     [316]|      [64]|  0.506519558676028|21.109050041691336|0.010428282327675216|
|     [229]|     [203]| 0.3092485549132948|12.305398948423347| 0.01104778424813117|
|     [229]|     [122]| 0.3959537572254335|13.934924889097996|0.014145293850410936|
|     [229]|      [67]| 0.4121387283236994|10.105432940659982|0.014723495642836492|
|     [229]|     [104]| 0.3439306358381503| 6.890850215597132|0.012286788089043077|
|     [229]|     [103]| 0.3069364161849711| 7.001273146572497|0.010965183992070375|
+----------+----------+-------------------+------------------+--------------------+
only showing top 20 rows

Lift = P(A Intersection B)/p(A) * P(B)
Lift > 1 means A and B togerther appear more than expected

In [ ]:
rules = model.associationRules
frequentItemsets = model.freqItemsets

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [ ]:
rules.filter(rules.lift <10).show()

+----------+----------+-------------------+-----------------+--------------------+
|antecedent|consequent|         confidence|             lift|             support|
+----------+----------+-------------------+-----------------+--------------------+
|      [64]|      [20]| 0.4208261617900172|7.183266729236296|0.010097881303432041|
|     [229]|     [104]| 0.3439306358381503|6.890850215597132|0.012286788089043077|
|     [229]|     [103]| 0.3069364161849711|7.001273146572497|0.010965183992070375|
|     [229]|      [20]| 0.2976878612716763|5.081364952394147|0.010634782967827201|
|     [109]|     [104]| 0.4348958333333333|8.713390825403392|0.010345682071614423|
|     [108]|     [110]| 0.3081570996978852|6.870541302932683|0.010531532647751208|
|     [108]|      [67]|0.35891238670694864|8.800349994263643|0.012266138025027878|
|     [108]|     [104]|0.40906344410876133| 8.19582389094368|0.013980093338289349|
|     [108]|      [20]| 0.3595166163141994|6.136747148971244|0.012286788089043077|
|     [104]|     [108]| 0.2800992966487381| 8.19582389094368|0.013980093338289349|
|     [104]|     [109]|0.20728175424079437|8.713390825403392|0.010345682071614423|
|     [104]|     [110]|0.30823334712453454|6.872241283541763|0.015384297691322843|
|     [104]|      [83]|0.21928009929664874|5.376637006855448|0.010944533928055177|
|     [104]|      [91]| 0.2606537029375259|8.122532959107225|0.013009540329575022|
|     [104]|     [122]|0.24369052544476624|8.576277169468204|0.012162887704951886|
|     [104]|     [120]|0.21141911460488208|5.777755103756219|0.010552182711766406|
|     [104]|      [67]| 0.3491932147290029|8.562040818464148| 0.01742865402882749|
|     [104]|     [165]|0.23251965246172943|8.249081824257663|0.011605335976541528|
|     [104]|     [229]|0.24617294166321887|6.890850215597131|0.012286788089043077|
|     [104]|      [20]|0.40587505171700455|6.928059659657265|0.020257712798909675|
+----------+----------+-------------------+-----------------+--------------------+
only showing top 20 rows

In [ ]:
frequentItemsets.filter( "freq>2000").show()

+-----+----+
|items|freq|
+-----+----+
|[110]|2172|
| [20]|2837|
|[104]|2417|
|[103]|2123|
+-----+----+

Prediction

In [ ]:
transformed = model.transform(basketdata)
transformed.show()

+------------------+--------------------+--------------------+
|SalesTransactionID|               items|          prediction|
+------------------+--------------------+--------------------+
|                 0|                 [0]|                  []|
|                 1|           [0, 1, 2]|                  []|
|                 2|                 [1]|                  []|
|                 3|                 [0]|                  []|
|                 4|                 [0]|                  []|
|                 5|                 [0]|                  []|
|                 6|                 [2]|                  []|
|                 7|                 [2]|                  []|
|                 8|                 [0]|                  []|
|                10|              [1, 0]|                  []|
|                11|                 [0]|                  []|
|                12|              [4, 3]|                  []|
|                13|                 [5]|                  []|
|                15|           [7, 8, 9]|                  []|
|                16|[17, 15, 16, 20, ...|[108, 161, 110, 8...|
|                17|                [21]|                  []|
|                18|                [22]|                  []|
|                19|[33, 41, 27, 34, ...|                  []|
|                20|[59, 50, 57, 60, ...|                  []|
|                21|                [62]|                  []|
+------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
a = 104
transformed.filter(array_contains(transformed.items, 104)).show()

+------------------+--------------------+--------------------+
|SalesTransactionID|               items|          prediction|
+------------------+--------------------+--------------------+
|                25|[7, 86, 105, 104,...|[312, 108, 122, 1...|
|                27|[20, 6, 141, 114,...|[103, 67, 312, 91...|
|                35|[118, 85, 82, 17,...|[67, 312, 110, 98...|
|                36|[92, 108, 153, 91...|[103, 312, 110, 6...|
|                39|[103, 158, 209, 2...|[312, 110, 98, 12...|
|                46|[176, 185, 250, 8...|[108, 83, 122, 12...|
|                52|[93, 270, 168, 13...|[91, 203, 312, 11...|
|                58|[203, 208, 122, 2...|[312, 110, 91, 98...|
|                61|[20, 122, 280, 84...|[312, 110, 91, 98...|
|                66|[160, 392, 13, 67...|[103, 108, 110, 9...|
|                68|[306, 216, 20, 10...|[103, 312, 110, 9...|
|                70|[303, 84, 94, 9, ...|[108, 203, 109, 1...|
|                72|[109, 291, 201, 1...|[64, 312, 110, 98...|
|                74|[216, 85, 189, 40...|[103, 108, 109, 1...|
|                78|[67, 208, 104, 18...|[108, 109, 110, 8...|
|                80|[13, 156, 79, 20,...|[103, 108, 109, 1...|
|                83|[378, 84, 220, 92...|[108, 110, 83, 12...|
|                85|[125, 109, 112, 6...|[312, 110, 98, 16...|
|                88|[94, 464, 420, 29...|[91, 165, 92, 229...|
|                92|[103, 470, 477, 2...|[63, 316, 108, 83...|
+------------------+--------------------+--------------------+
only showing top 20 rows

Finding the predictions for [104]

In [ ]:
transformed.where(transformed.items == array(*(lit(x) for x in [104]))).show()

+------------------+-----+--------------------+
|SalesTransactionID|items|          prediction|
+------------------+-----+--------------------+
|              3752|[104]|[108, 109, 110, 8...|
|              3867|[104]|[108, 109, 110, 8...|
|              3882|[104]|[108, 109, 110, 8...|
|              3920|[104]|[108, 109, 110, 8...|
|              3925|[104]|[108, 109, 110, 8...|
|              3934|[104]|[108, 109, 110, 8...|
|              4084|[104]|[108, 109, 110, 8...|
|              4119|[104]|[108, 109, 110, 8...|
|              4227|[104]|[108, 109, 110, 8...|
|              4333|[104]|[108, 109, 110, 8...|
|              4374|[104]|[108, 109, 110, 8...|
|              4651|[104]|[108, 109, 110, 8...|
|              5322|[104]|[108, 109, 110, 8...|
|              5804|[104]|[108, 109, 110, 8...|
|              5901|[104]|[108, 109, 110, 8...|
|              6445|[104]|[108, 109, 110, 8...|
|              6653|[104]|[108, 109, 110, 8...|
|             10158|[104]|[108, 109, 110, 8...|
|             10217|[104]|[108, 109, 110, 8...|
|             10309|[104]|[108, 109, 110, 8...|
+------------------+-----+--------------------+
only showing top 20 rows

In [ ]:
transformed.where(transformed.items == array(*(lit(x) for x in [64, 63, 316]))).show()

+------------------+-------------+----------+
|SalesTransactionID|        items|prediction|
+------------------+-------------+----------+
|             10510|[64, 63, 316]|      [20]|
+------------------+-------------+----------+

## LOGISTIC REGRESSION

In [ ]:
heart_data = pd.read_csv("heart.csv", header=None)

In [ ]:
heart_data.head()

     0    1    2      3      4    5    6      7    8    9    10   11   12  13
0  63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1  67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2  67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3  37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4  41.0  0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0

In [ ]:
schema = ["age", 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']

In [ ]:
df = spark.createDataFrame(heart_data, schema)

In [ ]:
df.show()

+----+---+---+--------+-----+---+-------+-------+-----+-------+-----+---+----+------+
| age|sex| cp|trestbps| chol|fbs|restecg|thalach|exang|oldpeak|slope| ca|thal|target|
+----+---+---+--------+-----+---+-------+-------+-----+-------+-----+---+----+------+
|63.0|1.0|1.0|   145.0|233.0|1.0|    2.0|  150.0|  0.0|    2.3|  3.0|0.0| 6.0|     0|
|67.0|1.0|4.0|   160.0|286.0|0.0|    2.0|  108.0|  1.0|    1.5|  2.0|3.0| 3.0|     2|
|67.0|1.0|4.0|   120.0|229.0|0.0|    2.0|  129.0|  1.0|    2.6|  2.0|2.0| 7.0|     1|
|37.0|1.0|3.0|   130.0|250.0|0.0|    0.0|  187.0|  0.0|    3.5|  3.0|0.0| 3.0|     0|
|41.0|0.0|2.0|   130.0|204.0|0.0|    2.0|  172.0|  0.0|    1.4|  1.0|0.0| 3.0|     0|
|56.0|1.0|2.0|   120.0|236.0|0.0|    0.0|  178.0|  0.0|    0.8|  1.0|0.0| 3.0|     0|
|62.0|0.0|4.0|   140.0|268.0|0.0|    2.0|  160.0|  0.0|    3.6|  3.0|2.0| 3.0|     3|
|57.0|0.0|4.0|   120.0|354.0|0.0|    0.0|  163.0|  1.0|    0.6|  1.0|0.0| 3.0|     0|
|63.0|1.0|4.0|   130.0|254.0|0.0|    2.0|  147.0|  0.0|    1.4|  2.0|1.0| 7.0|     2|
|53.0|1.0|4.0|   140.0|203.0|1.0|    2.0|  155.0|  1.0|    3.1|  3.0|0.0| 7.0|     1|
|57.0|1.0|4.0|   140.0|192.0|0.0|    0.0|  148.0|  0.0|    0.4|  2.0|0.0| 6.0|     0|
|56.0|0.0|2.0|   140.0|294.0|0.0|    2.0|  153.0|  0.0|    1.3|  2.0|0.0| 3.0|     0|
|56.0|1.0|3.0|   130.0|256.0|1.0|    2.0|  142.0|  1.0|    0.6|  2.0|1.0| 6.0|     2|
|44.0|1.0|2.0|   120.0|263.0|0.0|    0.0|  173.0|  0.0|    0.0|  1.0|0.0| 7.0|     0|
|52.0|1.0|3.0|   172.0|199.0|1.0|    0.0|  162.0|  0.0|    0.5|  1.0|0.0| 7.0|     0|
|57.0|1.0|3.0|   150.0|168.0|0.0|    0.0|  174.0|  0.0|    1.6|  1.0|0.0| 3.0|     0|
|48.0|1.0|2.0|   110.0|229.0|0.0|    0.0|  168.0|  0.0|    1.0|  3.0|0.0| 7.0|     1|
|54.0|1.0|4.0|   140.0|239.0|0.0|    0.0|  160.0|  0.0|    1.2|  1.0|0.0| 3.0|     0|
|48.0|0.0|3.0|   130.0|275.0|0.0|    0.0|  139.0|  0.0|    0.2|  1.0|0.0| 3.0|     0|
|49.0|1.0|2.0|   130.0|266.0|0.0|    0.0|  171.0|  0.0|    0.6|  1.0|0.0| 3.0|     0|
+----+---+---+--------+-----+---+-------+-------+-----+-------+-----+---+----+------+
only showing top 20 rows

In [ ]:
df = df.withColumn( 'target', when(df.target > 0,1).otherwise(0))
df.show()

+----+---+---+--------+-----+---+-------+-------+-----+-------+-----+---+----+------+
| age|sex| cp|trestbps| chol|fbs|restecg|thalach|exang|oldpeak|slope| ca|thal|target|
+----+---+---+--------+-----+---+-------+-------+-----+-------+-----+---+----+------+
|63.0|1.0|1.0|   145.0|233.0|1.0|    2.0|  150.0|  0.0|    2.3|  3.0|0.0| 6.0|     0|
|67.0|1.0|4.0|   160.0|286.0|0.0|    2.0|  108.0|  1.0|    1.5|  2.0|3.0| 3.0|     1|
|67.0|1.0|4.0|   120.0|229.0|0.0|    2.0|  129.0|  1.0|    2.6|  2.0|2.0| 7.0|     1|
|37.0|1.0|3.0|   130.0|250.0|0.0|    0.0|  187.0|  0.0|    3.5|  3.0|0.0| 3.0|     0|
|41.0|0.0|2.0|   130.0|204.0|0.0|    2.0|  172.0|  0.0|    1.4|  1.0|0.0| 3.0|     0|
|56.0|1.0|2.0|   120.0|236.0|0.0|    0.0|  178.0|  0.0|    0.8|  1.0|0.0| 3.0|     0|
|62.0|0.0|4.0|   140.0|268.0|0.0|    2.0|  160.0|  0.0|    3.6|  3.0|2.0| 3.0|     1|
|57.0|0.0|4.0|   120.0|354.0|0.0|    0.0|  163.0|  1.0|    0.6|  1.0|0.0| 3.0|     0|
|63.0|1.0|4.0|   130.0|254.0|0.0|    2.0|  147.0|  0.0|    1.4|  2.0|1.0| 7.0|     1|
|53.0|1.0|4.0|   140.0|203.0|1.0|    2.0|  155.0|  1.0|    3.1|  3.0|0.0| 7.0|     1|
|57.0|1.0|4.0|   140.0|192.0|0.0|    0.0|  148.0|  0.0|    0.4|  2.0|0.0| 6.0|     0|
|56.0|0.0|2.0|   140.0|294.0|0.0|    2.0|  153.0|  0.0|    1.3|  2.0|0.0| 3.0|     0|
|56.0|1.0|3.0|   130.0|256.0|1.0|    2.0|  142.0|  1.0|    0.6|  2.0|1.0| 6.0|     1|
|44.0|1.0|2.0|   120.0|263.0|0.0|    0.0|  173.0|  0.0|    0.0|  1.0|0.0| 7.0|     0|
|52.0|1.0|3.0|   172.0|199.0|1.0|    0.0|  162.0|  0.0|    0.5|  1.0|0.0| 7.0|     0|
|57.0|1.0|3.0|   150.0|168.0|0.0|    0.0|  174.0|  0.0|    1.6|  1.0|0.0| 3.0|     0|
|48.0|1.0|2.0|   110.0|229.0|0.0|    0.0|  168.0|  0.0|    1.0|  3.0|0.0| 7.0|     1|
|54.0|1.0|4.0|   140.0|239.0|0.0|    0.0|  160.0|  0.0|    1.2|  1.0|0.0| 3.0|     0|
|48.0|0.0|3.0|   130.0|275.0|0.0|    0.0|  139.0|  0.0|    0.2|  1.0|0.0| 3.0|     0|
|49.0|1.0|2.0|   130.0|266.0|0.0|    0.0|  171.0|  0.0|    0.6|  1.0|0.0| 3.0|     0|
+----+---+---+--------+-----+---+-------+-------+-----+-------+-----+---+----+------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler
freture_cols = ["age", 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']
vec_assembler = VectorAssembler(inputCols = freture_cols, outputCol = "features")

In [ ]:
final_data = vec_assembler.transform(df)
final_data.show()

+----+---+---+--------+-----+---+-------+-------+-----+-------+-----+---+----+------+--------------------+
| age|sex| cp|trestbps| chol|fbs|restecg|thalach|exang|oldpeak|slope| ca|thal|target|            features|
+----+---+---+--------+-----+---+-------+-------+-----+-------+-----+---+----+------+--------------------+
|63.0|1.0|1.0|   145.0|233.0|1.0|    2.0|  150.0|  0.0|    2.3|  3.0|0.0| 6.0|     0|[63.0,1.0,1.0,145...|
|67.0|1.0|4.0|   160.0|286.0|0.0|    2.0|  108.0|  1.0|    1.5|  2.0|3.0| 3.0|     1|[67.0,1.0,4.0,160...|
|67.0|1.0|4.0|   120.0|229.0|0.0|    2.0|  129.0|  1.0|    2.6|  2.0|2.0| 7.0|     1|[67.0,1.0,4.0,120...|
|37.0|1.0|3.0|   130.0|250.0|0.0|    0.0|  187.0|  0.0|    3.5|  3.0|0.0| 3.0|     0|[37.0,1.0,3.0,130...|
|41.0|0.0|2.0|   130.0|204.0|0.0|    2.0|  172.0|  0.0|    1.4|  1.0|0.0| 3.0|     0|[41.0,0.0,2.0,130...|
|56.0|1.0|2.0|   120.0|236.0|0.0|    0.0|  178.0|  0.0|    0.8|  1.0|0.0| 3.0|     0|[56.0,1.0,2.0,120...|
|62.0|0.0|4.0|   140.0|268.0|0.0|    2.0|  160.0|  0.0|    3.6|  3.0|2.0| 3.0|     1|[62.0,0.0,4.0,140...|
|57.0|0.0|4.0|   120.0|354.0|0.0|    0.0|  163.0|  1.0|    0.6|  1.0|0.0| 3.0|     0|[57.0,0.0,4.0,120...|
|63.0|1.0|4.0|   130.0|254.0|0.0|    2.0|  147.0|  0.0|    1.4|  2.0|1.0| 7.0|     1|[63.0,1.0,4.0,130...|
|53.0|1.0|4.0|   140.0|203.0|1.0|    2.0|  155.0|  1.0|    3.1|  3.0|0.0| 7.0|     1|[53.0,1.0,4.0,140...|
|57.0|1.0|4.0|   140.0|192.0|0.0|    0.0|  148.0|  0.0|    0.4|  2.0|0.0| 6.0|     0|[57.0,1.0,4.0,140...|
|56.0|0.0|2.0|   140.0|294.0|0.0|    2.0|  153.0|  0.0|    1.3|  2.0|0.0| 3.0|     0|[56.0,0.0,2.0,140...|
|56.0|1.0|3.0|   130.0|256.0|1.0|    2.0|  142.0|  1.0|    0.6|  2.0|1.0| 6.0|     1|[56.0,1.0,3.0,130...|
|44.0|1.0|2.0|   120.0|263.0|0.0|    0.0|  173.0|  0.0|    0.0|  1.0|0.0| 7.0|     0|[44.0,1.0,2.0,120...|
|52.0|1.0|3.0|   172.0|199.0|1.0|    0.0|  162.0|  0.0|    0.5|  1.0|0.0| 7.0|     0|[52.0,1.0,3.0,172...|
|57.0|1.0|3.0|   150.0|168.0|0.0|    0.0|  174.0|  0.0|    1.6|  1.0|0.0| 3.0|     0|[57.0,1.0,3.0,150...|
|48.0|1.0|2.0|   110.0|229.0|0.0|    0.0|  168.0|  0.0|    1.0|  3.0|0.0| 7.0|     1|[48.0,1.0,2.0,110...|
|54.0|1.0|4.0|   140.0|239.0|0.0|    0.0|  160.0|  0.0|    1.2|  1.0|0.0| 3.0|     0|[54.0,1.0,4.0,140...|
|48.0|0.0|3.0|   130.0|275.0|0.0|    0.0|  139.0|  0.0|    0.2|  1.0|0.0| 3.0|     0|[48.0,0.0,3.0,130...|
|49.0|1.0|2.0|   130.0|266.0|0.0|    0.0|  171.0|  0.0|    0.6|  1.0|0.0| 3.0|     0|[49.0,1.0,2.0,130...|
+----+---+---+--------+-----+---+-------+-------+-----+-------+-----+---+----+------+--------------------+
only showing top 20 rows

In [ ]:
training, testing = final_data.randomSplit([0.7,0.3],seed = 42)

In [ ]:
from pyspark.ml.classification import LogisticRegression

In [ ]:
lr = LogisticRegression( labelCol="target", featuresCol="features")
lrModel = lr.fit(training)

In [ ]:
prediction = lrModel.transform(testing)

In [ ]:
prediction.show()

+----+---+---+--------+-----+---+-------+-------+-----+-------+-----+---+----+------+--------------------+--------------------+--------------------+----------+
| age|sex| cp|trestbps| chol|fbs|restecg|thalach|exang|oldpeak|slope| ca|thal|target|            features|       rawPrediction|         probability|prediction|
+----+---+---+--------+-----+---+-------+-------+-----+-------+-----+---+----+------+--------------------+--------------------+--------------------+----------+
|40.0|1.0|4.0|   110.0|167.0|0.0|    2.0|  114.0|  1.0|    2.0|  2.0|0.0| 7.0|     1|[40.0,1.0,4.0,110...|[-3.2748079773596...|[0.03644560814225...|       1.0|
|42.0|1.0|4.0|   140.0|226.0|0.0|    0.0|  178.0|  0.0|    0.0|  1.0|0.0| 3.0|     0|[42.0,1.0,4.0,140...|[1.78117986814546...|[0.85584249458715...|       0.0|
|43.0|1.0|4.0|   150.0|247.0|0.0|    0.0|  171.0|  0.0|    1.5|  1.0|0.0| 3.0|     0|[43.0,1.0,4.0,150...|[1.05329686898155...|[0.74140748579649...|       0.0|
|44.0|1.0|2.0|   120.0|263.0|0.0|    0.0|  173.0|  0.0|    0.0|  1.0|0.0| 7.0|     0|[44.0,1.0,2.0,120...|[2.11408981417368...|[0.89226511041941...|       0.0|
|46.0|0.0|3.0|   142.0|177.0|0.0|    2.0|  160.0|  1.0|    1.4|  3.0|0.0| 3.0|     0|[46.0,0.0,3.0,142...|[0.20006342259418...|[0.54984969540600...|       0.0|
|46.0|1.0|3.0|   150.0|231.0|0.0|    0.0|  147.0|  0.0|    3.6|  2.0|0.0| 3.0|     1|[46.0,1.0,3.0,150...|[0.18609526530568...|[0.54639001409091...|       0.0|
|48.0|0.0|3.0|   130.0|275.0|0.0|    0.0|  139.0|  0.0|    0.2|  1.0|0.0| 3.0|     0|[48.0,0.0,3.0,130...|[3.80928290370022...|[0.97831652692060...|       0.0|
|50.0|1.0|3.0|   140.0|233.0|0.0|    0.0|  163.0|  0.0|    0.6|  2.0|1.0| 7.0|     1|[50.0,1.0,3.0,140...|[-1.4047072664815...|[0.19707020174642...|       1.0|
|51.0|0.0|4.0|   130.0|305.0|0.0|    0.0|  142.0|  1.0|    1.2|  2.0|0.0| 7.0|     1|[51.0,0.0,4.0,130...|[-0.7713935222282...|[0.31617773654280...|       1.0|
|51.0|1.0|3.0|   110.0|175.0|0.0|    0.0|  123.0|  0.0|    0.6|  1.0|0.0| 3.0|     0|[51.0,1.0,3.0,110...|[2.77118090389193...|[0.94109848066163...|       0.0|
|52.0|1.0|3.0|   172.0|199.0|1.0|    0.0|  162.0|  0.0|    0.5|  1.0|0.0| 7.0|     0|[52.0,1.0,3.0,172...|[1.48980848395978...|[0.81604952533119...|       0.0|
|54.0|1.0|3.0|   125.0|273.0|0.0|    2.0|  152.0|  0.0|    0.5|  3.0|1.0| 3.0|     0|[54.0,1.0,3.0,125...|[-0.6573708170397...|[0.34133046809623...|       1.0|
|54.0|1.0|3.0|   150.0|232.0|0.0|    2.0|  165.0|  0.0|    1.6|  1.0|0.0| 7.0|     0|[54.0,1.0,3.0,150...|[0.22577511685234...|[0.55620522946822...|       0.0|
|54.0|1.0|4.0|   120.0|188.0|0.0|    0.0|  113.0|  0.0|    1.4|  2.0|1.0| 7.0|     1|[54.0,1.0,4.0,120...|[-2.3514601864232...|[0.08694977900986...|       1.0|
|54.0|1.0|4.0|   140.0|239.0|0.0|    0.0|  160.0|  0.0|    1.2|  1.0|0.0| 3.0|     0|[54.0,1.0,4.0,140...|[1.83845198752874...|[0.86276552383564...|       0.0|
|56.0|0.0|2.0|   140.0|294.0|0.0|    2.0|  153.0|  0.0|    1.3|  2.0|0.0| 3.0|     0|[56.0,0.0,2.0,140...|[3.41419496744633...|[0.96814522986915...|       0.0|
|56.0|1.0|2.0|   120.0|236.0|0.0|    0.0|  178.0|  0.0|    0.8|  1.0|0.0| 3.0|     0|[56.0,1.0,2.0,120...|[4.43487046496003...|[0.98828233009088...|       0.0|
|57.0|1.0|4.0|   140.0|192.0|0.0|    0.0|  148.0|  0.0|    0.4|  2.0|0.0| 6.0|     0|[57.0,1.0,4.0,140...|[-0.0858917205234...|[0.47854026131485...|       1.0|
|58.0|0.0|3.0|   120.0|340.0|0.0|    0.0|  172.0|  0.0|    0.0|  1.0|0.0| 3.0|     0|(13,[0,2,3,4,7,10...|[5.29755939056872...|[0.99502112195017...|       0.0|
|58.0|1.0|2.0|   120.0|284.0|0.0|    2.0|  160.0|  0.0|    1.8|  2.0|0.0| 3.0|     1|[58.0,1.0,2.0,120...|[2.60239540298345...|[0.93101558469825...|       0.0|
+----+---+---+--------+-----+---+-------+-------+-----+-------+-----+---+----+------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
final_predictions = prediction.select("prediction", "target")

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [ ]:
evaluator = BinaryClassificationEvaluator( labelCol= "target", rawPredictionCol="prediction")
evaluator.evaluate(final_predictions)

0.8222641509433962

##Linear Regression

In [ ]:
import pandas as pd
usa_housing = pd.read_csv("USA_Housing.csv")

In [ ]:
usa_housing.describe()

       Avg. Area Income  Avg. Area House Age  ...  Area Population         Price
count       5000.000000          5000.000000  ...      5000.000000  5.000000e+03
mean       68583.108984             5.977222  ...     36163.516039  1.232073e+06
std        10657.991214             0.991456  ...      9925.650114  3.531176e+05
min        17796.631190             2.644304  ...       172.610686  1.593866e+04
25%        61480.562388             5.322283  ...     29403.928702  9.975771e+05
50%        68804.286404             5.970429  ...     36199.406689  1.232669e+06
75%        75783.338666             6.650808  ...     42861.290769  1.471210e+06
max       107701.748378             9.519088  ...     69621.713378  2.469066e+06

[8 rows x 6 columns]

In [ ]:
df = spark.createDataFrame(usa_housing)

In [ ]:
df.show()

+------------------+-------------------+-------------------------+----------------------------+------------------+------------------+--------------------+
|  Avg. Area Income|Avg. Area House Age|Avg. Area Number of Rooms|Avg. Area Number of Bedrooms|   Area Population|             Price|             Address|
+------------------+-------------------+-------------------------+----------------------------+------------------+------------------+--------------------+
| 79545.45857431678|  5.682861321615587|        7.009188142792237|                        4.09|23086.800502686456|1059033.5578701235|208 Michael Ferry...|
| 79248.64245482568| 6.0028998082752425|        6.730821019094919|                        3.09| 40173.07217364482|  1505890.91484695|188 Johnson Views...|
|61287.067178656784|  5.865889840310001|        8.512727430375099|                        5.13| 36882.15939970458|1058987.9878760849|9127 Elizabeth St...|
| 63345.24004622798| 7.1882360945186425|        5.586728664827653|                        3.26| 34310.24283090706|1260616.8066294468|USS Barnett\nFPO ...|
| 59982.19722570803|  5.040554523106283|        7.839387785120487|                        4.23|26354.109472103148| 630943.4893385402|USNS Raymond\nFPO...|
|  80175.7541594853| 4.9884077575337145|        6.104512439428879|                        4.04|26748.428424689715|1068138.0743935304|06039 Jennifer Is...|
| 64698.46342788773|  6.025335906887152|        8.147759585023431|                        3.41| 60828.24908540716|1502055.8173744078|4759 Daniel Shoal...|
| 78394.33927753085| 6.9897797477182815|        6.620477995185026|                        2.42|36516.358972493836|1573936.5644777215|972 Joyce Viaduct...|
| 59927.66081334963|   5.36212556960358|       6.3931209805509015|                         2.3| 29387.39600281585| 798869.5328331633|USS Gilbert\nFPO ...|
| 81885.92718409566|  4.423671789897876|        8.167688003472351|                         6.1| 40149.96574921337|1545154.8126419624|Unit 9446 Box 095...|
| 80527.47208292288|   8.09351268063935|        5.042746799645982|                         4.1|47224.359840221914| 1707045.722158058|6368 John Motorwa...|
| 50593.69549704281|  4.496512793097035|        7.467627404008019|                        4.49|34343.991885578806| 663732.3968963273|911 Castillo Park...|
| 39033.80923698237|  7.671755372854428|        7.250029317273495|                         3.1| 39220.36146737246|1042814.0978200928|209 Natasha Strea...|
|  73163.6634410467|  6.919534825456555|       5.9931879009455695|                        2.27|32326.123139488096|1291331.5184858206|829 Welch Track A...|
|  69391.3801843616|  5.344776176735725|        8.406417714534253|                        4.37|35521.294033173246|1402818.2101658515|PSC 5330, Box 442...|
| 73091.86674582321|  5.443156466535474|        8.517512711137975|                        4.01|23929.524053267953|1306674.6599511993|2278 Shannon View...|
| 79706.96305765743|  5.067889591058972|        8.219771123286257|                        3.12| 39717.81357630952|1556786.6001947748|064 Hayley Unions...|
| 61929.07701808926|  4.788550241805888|       5.0970095543775615|                         4.3| 24595.90149782299| 528485.2467305964|5498 Rachel Locks...|
| 63508.19429942997|  5.947165139552473|        7.187773835329728|                        5.12|35719.653052030866|1019425.9367578316|Unit 7424 Box 278...|
|62085.276403404874|  5.739410843630574|         7.09180810424997|                        5.49|44922.106702293066|1030591.4292116085|19696 Benjamin Ca...|
+------------------+-------------------+-------------------------+----------------------------+------------------+------------------+--------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- Avg. Area Income: double (nullable = true)
 |-- Avg. Area House Age: double (nullable = true)
 |-- Avg. Area Number of Rooms: double (nullable = true)
 |-- Avg. Area Number of Bedrooms: double (nullable = true)
 |-- Area Population: double (nullable = true)
 |-- Price: double (nullable = true)
 |-- Address: string (nullable = true)

In [ ]:
df=df.drop(col("Address"))

In [ ]:
df.show()

+------------------+-------------------+-------------------------+----------------------------+------------------+------------------+
|  Avg. Area Income|Avg. Area House Age|Avg. Area Number of Rooms|Avg. Area Number of Bedrooms|   Area Population|             Price|
+------------------+-------------------+-------------------------+----------------------------+------------------+------------------+
| 79545.45857431678|  5.682861321615587|        7.009188142792237|                        4.09|23086.800502686456|1059033.5578701235|
| 79248.64245482568| 6.0028998082752425|        6.730821019094919|                        3.09| 40173.07217364482|  1505890.91484695|
|61287.067178656784|  5.865889840310001|        8.512727430375099|                        5.13| 36882.15939970458|1058987.9878760849|
| 63345.24004622798| 7.1882360945186425|        5.586728664827653|                        3.26| 34310.24283090706|1260616.8066294468|
| 59982.19722570803|  5.040554523106283|        7.839387785120487|                        4.23|26354.109472103148| 630943.4893385402|
|  80175.7541594853| 4.9884077575337145|        6.104512439428879|                        4.04|26748.428424689715|1068138.0743935304|
| 64698.46342788773|  6.025335906887152|        8.147759585023431|                        3.41| 60828.24908540716|1502055.8173744078|
| 78394.33927753085| 6.9897797477182815|        6.620477995185026|                        2.42|36516.358972493836|1573936.5644777215|
| 59927.66081334963|   5.36212556960358|       6.3931209805509015|                         2.3| 29387.39600281585| 798869.5328331633|
| 81885.92718409566|  4.423671789897876|        8.167688003472351|                         6.1| 40149.96574921337|1545154.8126419624|
| 80527.47208292288|   8.09351268063935|        5.042746799645982|                         4.1|47224.359840221914| 1707045.722158058|
| 50593.69549704281|  4.496512793097035|        7.467627404008019|                        4.49|34343.991885578806| 663732.3968963273|
| 39033.80923698237|  7.671755372854428|        7.250029317273495|                         3.1| 39220.36146737246|1042814.0978200928|
|  73163.6634410467|  6.919534825456555|       5.9931879009455695|                        2.27|32326.123139488096|1291331.5184858206|
|  69391.3801843616|  5.344776176735725|        8.406417714534253|                        4.37|35521.294033173246|1402818.2101658515|
| 73091.86674582321|  5.443156466535474|        8.517512711137975|                        4.01|23929.524053267953|1306674.6599511993|
| 79706.96305765743|  5.067889591058972|        8.219771123286257|                        3.12| 39717.81357630952|1556786.6001947748|
| 61929.07701808926|  4.788550241805888|       5.0970095543775615|                         4.3| 24595.90149782299| 528485.2467305964|
| 63508.19429942997|  5.947165139552473|        7.187773835329728|                        5.12|35719.653052030866|1019425.9367578316|
|62085.276403404874|  5.739410843630574|         7.09180810424997|                        5.49|44922.106702293066|1030591.4292116085|
+------------------+-------------------+-------------------------+----------------------------+------------------+------------------+
only showing top 20 rows

In [ ]:
df = df.withColumnRenamed('Avg. Area Income', 'Avg_Area_Income')
df = df.withColumnRenamed('Avg. Area House Age', 'Avg_Area_House_Age')
df = df.withColumnRenamed('Avg. Area Number of Rooms', 'Avg_Area_Number_of_Rooms')
df = df.withColumnRenamed('Avg. Area Number of Bedrooms', 'Avg_Area_Number_of_Bedrooms')
df = df.withColumnRenamed('Area Population', 'Area_Population')

In [ ]:
df.show()
df1=df

+------------------+------------------+------------------------+---------------------------+------------------+------------------+
|   Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|   Area_Population|             Price|
+------------------+------------------+------------------------+---------------------------+------------------+------------------+
| 79545.45857431678| 5.682861321615587|       7.009188142792237|                       4.09|23086.800502686456|1059033.5578701235|
| 79248.64245482568|6.0028998082752425|       6.730821019094919|                       3.09| 40173.07217364482|  1505890.91484695|
|61287.067178656784| 5.865889840310001|       8.512727430375099|                       5.13| 36882.15939970458|1058987.9878760849|
| 63345.24004622798|7.1882360945186425|       5.586728664827653|                       3.26| 34310.24283090706|1260616.8066294468|
| 59982.19722570803| 5.040554523106283|       7.839387785120487|                       4.23|26354.109472103148| 630943.4893385402|
|  80175.7541594853|4.9884077575337145|       6.104512439428879|                       4.04|26748.428424689715|1068138.0743935304|
| 64698.46342788773| 6.025335906887152|       8.147759585023431|                       3.41| 60828.24908540716|1502055.8173744078|
| 78394.33927753085|6.9897797477182815|       6.620477995185026|                       2.42|36516.358972493836|1573936.5644777215|
| 59927.66081334963|  5.36212556960358|      6.3931209805509015|                        2.3| 29387.39600281585| 798869.5328331633|
| 81885.92718409566| 4.423671789897876|       8.167688003472351|                        6.1| 40149.96574921337|1545154.8126419624|
| 80527.47208292288|  8.09351268063935|       5.042746799645982|                        4.1|47224.359840221914| 1707045.722158058|
| 50593.69549704281| 4.496512793097035|       7.467627404008019|                       4.49|34343.991885578806| 663732.3968963273|
| 39033.80923698237| 7.671755372854428|       7.250029317273495|                        3.1| 39220.36146737246|1042814.0978200928|
|  73163.6634410467| 6.919534825456555|      5.9931879009455695|                       2.27|32326.123139488096|1291331.5184858206|
|  69391.3801843616| 5.344776176735725|       8.406417714534253|                       4.37|35521.294033173246|1402818.2101658515|
| 73091.86674582321| 5.443156466535474|       8.517512711137975|                       4.01|23929.524053267953|1306674.6599511993|
| 79706.96305765743| 5.067889591058972|       8.219771123286257|                       3.12| 39717.81357630952|1556786.6001947748|
| 61929.07701808926| 4.788550241805888|      5.0970095543775615|                        4.3| 24595.90149782299| 528485.2467305964|
| 63508.19429942997| 5.947165139552473|       7.187773835329728|                       5.12|35719.653052030866|1019425.9367578316|
|62085.276403404874| 5.739410843630574|        7.09180810424997|                       5.49|44922.106702293066|1030591.4292116085|
+------------------+------------------+------------------------+---------------------------+------------------+------------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler
freture_cols = ['Avg_Area_Income' , 'Avg_Area_House_Age', 'Avg_Area_Number_of_Rooms', 'Avg_Area_Number_of_Bedrooms', 'Area_Population']
vec_assembler = VectorAssembler(inputCols = freture_cols, outputCol = "features")

In [ ]:
final_data = vec_assembler.transform(df)
final_data.show()

+------------------+------------------+------------------------+---------------------------+------------------+------------------+--------------------+
|   Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|   Area_Population|             Price|            features|
+------------------+------------------+------------------------+---------------------------+------------------+------------------+--------------------+
| 79545.45857431678| 5.682861321615587|       7.009188142792237|                       4.09|23086.800502686456|1059033.5578701235|[79545.4585743167...|
| 79248.64245482568|6.0028998082752425|       6.730821019094919|                       3.09| 40173.07217364482|  1505890.91484695|[79248.6424548256...|
|61287.067178656784| 5.865889840310001|       8.512727430375099|                       5.13| 36882.15939970458|1058987.9878760849|[61287.0671786567...|
| 63345.24004622798|7.1882360945186425|       5.586728664827653|                       3.26| 34310.24283090706|1260616.8066294468|[63345.2400462279...|
| 59982.19722570803| 5.040554523106283|       7.839387785120487|                       4.23|26354.109472103148| 630943.4893385402|[59982.1972257080...|
|  80175.7541594853|4.9884077575337145|       6.104512439428879|                       4.04|26748.428424689715|1068138.0743935304|[80175.7541594853...|
| 64698.46342788773| 6.025335906887152|       8.147759585023431|                       3.41| 60828.24908540716|1502055.8173744078|[64698.4634278877...|
| 78394.33927753085|6.9897797477182815|       6.620477995185026|                       2.42|36516.358972493836|1573936.5644777215|[78394.3392775308...|
| 59927.66081334963|  5.36212556960358|      6.3931209805509015|                        2.3| 29387.39600281585| 798869.5328331633|[59927.6608133496...|
| 81885.92718409566| 4.423671789897876|       8.167688003472351|                        6.1| 40149.96574921337|1545154.8126419624|[81885.9271840956...|
| 80527.47208292288|  8.09351268063935|       5.042746799645982|                        4.1|47224.359840221914| 1707045.722158058|[80527.4720829228...|
| 50593.69549704281| 4.496512793097035|       7.467627404008019|                       4.49|34343.991885578806| 663732.3968963273|[50593.6954970428...|
| 39033.80923698237| 7.671755372854428|       7.250029317273495|                        3.1| 39220.36146737246|1042814.0978200928|[39033.8092369823...|
|  73163.6634410467| 6.919534825456555|      5.9931879009455695|                       2.27|32326.123139488096|1291331.5184858206|[73163.6634410467...|
|  69391.3801843616| 5.344776176735725|       8.406417714534253|                       4.37|35521.294033173246|1402818.2101658515|[69391.3801843616...|
| 73091.86674582321| 5.443156466535474|       8.517512711137975|                       4.01|23929.524053267953|1306674.6599511993|[73091.8667458232...|
| 79706.96305765743| 5.067889591058972|       8.219771123286257|                       3.12| 39717.81357630952|1556786.6001947748|[79706.9630576574...|
| 61929.07701808926| 4.788550241805888|      5.0970095543775615|                        4.3| 24595.90149782299| 528485.2467305964|[61929.0770180892...|
| 63508.19429942997| 5.947165139552473|       7.187773835329728|                       5.12|35719.653052030866|1019425.9367578316|[63508.1942994299...|
|62085.276403404874| 5.739410843630574|        7.09180810424997|                       5.49|44922.106702293066|1030591.4292116085|[62085.2764034048...|
+------------------+------------------+------------------------+---------------------------+------------------+------------------+--------------------+
only showing top 20 rows

In [ ]:
training, testing = final_data.randomSplit([0.7,0.3],seed = 42)

In [ ]:
from pyspark.ml.regression import LinearRegression

In [ ]:
lr = LinearRegression(featuresCol='features', labelCol='Price', maxIter=10, regParam=0.3, elasticNetParam=0.8)
#lr = LinearRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8)
lrModel = lr.fit(training)

In [ ]:
trainingSummary = lrModel.summary

In [ ]:
print("RMSE: %f" % trainingSummary.rootMeanSquaredError)
print("r2: %f" % trainingSummary.r2)

RMSE: 100953.785834
r2: 0.916547

In [ ]:
from pyspark.ml.fpm import FPGrowth

df = spark.createDataFrame([
    (0, [1, 2, 5]),
    (1, [1, 2, 3, 5]),
    (2, [1, 2])
], ["id", "items"])

fpGrowth = FPGrowth(itemsCol="items", minSupport=0.5, minConfidence=0.6)
model = fpGrowth.fit(df)

# Display frequent itemsets.
model.freqItemsets.show()

# Display generated association rules.
model.associationRules.show()

# transform examines the input items against all the association rules and summarize the
# consequents as prediction
model.transform(df).show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+---------+----+
|    items|freq|
+---------+----+
|      [1]|   3|
|      [2]|   3|
|   [2, 1]|   3|
|      [5]|   2|
|   [5, 2]|   2|
|[5, 2, 1]|   2|
|   [5, 1]|   2|
+---------+----+

+----------+----------+------------------+----+------------------+
|antecedent|consequent|        confidence|lift|           support|
+----------+----------+------------------+----+------------------+
|    [5, 2]|       [1]|               1.0| 1.0|0.6666666666666666|
|       [2]|       [1]|               1.0| 1.0|               1.0|
|       [2]|       [5]|0.6666666666666666| 1.0|0.6666666666666666|
|    [2, 1]|       [5]|0.6666666666666666| 1.0|0.6666666666666666|
|       [5]|       [2]|               1.0| 1.0|0.6666666666666666|
|       [5]|       [1]|               1.0| 1.0|0.6666666666666666|
|    [5, 1]|       [2]|               1.0| 1.0|0.6666666666666666|
|       [1]|       [2]|               1.0| 1.0|               1.0|
|       [1]|       [5]|0.6666666666666666| 1.0|0.6666666666666666|
+----------+----------+------------------+----+------------------+

+---+------------+----------+
| id|       items|prediction|
+---+------------+----------+
|  0|   [1, 2, 5]|        []|
|  1|[1, 2, 3, 5]|        []|
|  2|      [1, 2]|       [5]|
+---+------------+----------+

In [ ]:
import pandas as pd
colnames=['items',] 

dfx = pd.read_csv("/content/msnbc990928.csv", names=colnames,header=None)

In [ ]:
dfx.head()

                items
0                1 1
1                  2
2  3 2 2 4 2 2 2 3 3
3                  5
4                  1

In [ ]:
from pyspark.ml.fpm import FPGrowth
dfx=spark.createDataFrame(x)
fpGrowth = FPGrowth(itemsCol="items", minSupport=0.5, minConfidence=0.6)
model = fpGrowth.fit(dfx)

# Display frequent itemsets.
model.freqItemsets.show()

# Display generated association rules.
model.associationRules.show()

# transform examines the input items against all the association rules and summarize the
# consequents as prediction
model.transform(dfx).show()

IllegalArgumentException: ignored

In [ ]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator

# Loads data.
dataset = spark.createDataFrame(dfx)

# Trains a k-means model.
kmeans = KMeans().setK(2).setSeed(1)
model = kmeans.fit(dataset)

# Make predictions
predictions = model.transform(dataset)

# Evaluate clustering by computing Silhouette score
evaluator = ClusteringEvaluator()

silhouette = evaluator.evaluate(predictions)
print("Silhouette with squared euclidean distance = " + str(silhouette))

# Shows the result.
centers = model.clusterCenters()
print("Cluster Centers: ")
for center in centers:
    print(center)

IllegalArgumentException: ignored

##Graph Frame

In [ ]:
# creating a simple Graph
id, name
1, Dhaka
2, Khulna
3, Gazipur

In [ ]:
from graphframes import *
from pyspark.sql import SQLContext

sqlContex = SQLContex(sc)
#vetices
v = sqlContex.createDataFrame([(1, "Dhaka"), (2, "Khulna"), (3, "Gazipur")],["id","name"])
#edges
e = sqlContex.createDataFrame([(1,2,350),(1,3,30),(2,1,400),(2,3,450),(3,1,35),(3,2,500)],["src","dist","distance"])

g = GraphFrame(v, e)
g.vertices.show()

NameError: ignored